*{
    margin: 0px;
    padding: 0px;
    /* border: 1px solid black; */
}

html, body{
    height: 100vh;
    width: 100vw;
}

body{
    background-image: url("../res/entrance.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
}

