*{
    margin: 0px;
    padding: 0px;
    /* border: 1px solid black; */
}

html, body{
    height: 100vh;
    width: 100vw;
}

body{
    background-image: url("../res/entrance.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
}

.input_wrapper {
    position: absolute;
    top: 60%;
    left: 40%;

    font-size: 2vh;
}

#button_container{
    position: absolute;
    top: 60%;
    left: 45%;

    font-size: 5vh;
}

#button_container{
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

.input_wrapper{
    display: none;
}

#button_container > div{    
    background-color: rgba(255, 102, 0, 0.61);
    color: white;

    padding: 5%;    

    height: 40%;
    width: 100%;

    border-radius: 3px;

    text-align: center;

    user-select: none;
}

#signup_button{    
    margin-top: 20%;    
}

#password{
    display: block;
}

#login_wrapper{
    margin: auto;
}

.input_wrapper > input[type="text"], .input_wrapper > input[type="password"]{
    padding: 5%;

    font-size: 3vh;

    margin-top: 5%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0);
    border: none;

    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    outline: none;
}

.input_wrapper > input[type="text"]:focus, .input_wrapper > input[type="password"]:focus {
    background-color: rgba(255, 255, 255, 0.61);
}

.finallink
{
    position:absolute;
    top:40%;
    left:40%;
    height:15%;
    width: 20%;
    background-color: rgba(255, 102, 0, 0.61);   
    text-decoration:none;
    text-align:center;
    color:white;
    font-size: 5vh;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}